// .edge {
//   position: absolute;
//   background-color: #000000;
// }

.edge {
  * {
    position: absolute;
  }

  .hitBox {
    background-color: transparent;
    transition: all 0.2s;
    z-index: 2;
    border-radius: 3px;

    &:hover {
      background-color: #0000003e;
    }
  }

  .line {
    background-color: #000000;
    z-index: 1;
  }

  .head {
    background-color: transparent;
    z-index: 1;
  }
}
