.upload {
  background-color: #ebebeb;
  padding: 10px;
  border-radius: 5px;

  h1 {
    font-size: medium;
    padding: 0;
    padding-bottom: 5px;
  }

  input {
    font-size: small;
    padding: 4px;
  }
}
