.result {
  table {
    min-width: 30vw;
    border-collapse: separate;
    th {
      color: #ffffff;
      background-color: #717171;
      border-radius: 5px;

    }
    td {
      background-color: #eaeaea;
      border-radius: 5px;
      text-align: center;
    }
  }
}
